// On utilise @use au lieu de @import
@use "core/variables" as *;
@use "core/functions" as *;
@use "core/mixins" as *;
@use "base/reset";
@use "base/typography";
@use "layout/container";
@use "layout/grid";
@use "components/navbar";
@use "components/buttons";
@use "utilities/utilities";