.k-btn {
  display: inline-block;
  padding: 0.6rem 1.25rem;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 0.375rem; // Look moderne
  transition: all 0.2s ease-in-out;
  font-family: inherit;

  // Version Primaire
  &-primary {
    background-color: $k-primary;
    color: $k-white;
    &:hover {
      background-color: darken($k-primary, 10%);
    }
  }

  // Version Outline (Bordure uniquement)
  &-outline {
    background-color: transparent;
    border-color: $k-primary;
    color: $k-primary;
    &:hover {
      background-color: $k-primary;
      color: $k-white;
    }
  }
}