@use "sass:color";
@use "../core/variables" as *;

.k-navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.75rem $k-spacer;
  background-color: $k-white;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
  position: relative;
  z-index: 1000;

  .k-logo {
    font-size: 1.5rem;
    font-weight: 800;
    color: $k-primary;
    text-decoration: none;
    letter-spacing: -1px;
  }

  // Liste des liens (Desktop)
  .k-nav-links {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    list-style: none;
    margin: 0;
    padding: 0;

    a {
      text-decoration: none;
      color: $k-gray-500;
      font-weight: 500;
      transition: color 0.2s ease;

      &:hover {
        color: $k-primary;
      }
    }
  }

  // Le bouton Burger (Caché sur desktop)
  .k-burger {
    display: none;
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    color: $k-gray-900;
    padding: 0.5rem;
  }
}

// --- RESPONSIVE ---

@media (max-width: 768px) {
  .k-navbar {
    .k-burger {
      display: block; // On l'affiche sur mobile
    }

    .k-nav-links {
      display: none; // On cache les liens par défaut
      flex-direction: column;
      position: absolute;
      top: 100%; // Juste en dessous de la navbar
      left: 0;
      width: 100%;
      background-color: $k-white;
      padding: $k-spacer;
      border-top: 1px solid $k-gray-100;
      box-shadow: 0 10px 15px rgba(0, 0, 0, 0.05);

      // Quand le menu est activé via JS
      &.k-active {
        display: flex;
      }

      li {
        width: 100%;
        text-align: center;
      }

      a {
        display: block;
        padding: 0.75rem 0;
        width: 100%;
      }
    }
  }
}